In [10]:
import pandas as pd

In [2]:
csv = pd.read_csv('../Data/iris.csv')

In [3]:
csv_data = csv[['SepalLength','SepalWidth','PetalLength','PetalWidth']]
csv_label = csv['Name']

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
train_data, test_data, train_label, test_label = train_test_split(csv_data, csv_label, stratify=csv_label)

### RandomForest

In [6]:
from sklearn.ensemble import RandomForestClassifier

In [7]:
clf = RandomForestClassifier()
clf.fit(train_data, train_label)
clf.score(test_data, test_label)

0.9736842105263158

---
### 독버섯과 관련된 데이터를 사용한 머신러닝

In [14]:
import urllib.request as req
local = '../Data/mushroom.csv'
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.data'
req.urlretrieve(url, local)
print('ok')

ok

In [15]:
mr = pd.read_csv('../Data/mushroom.csv', header=None)
mr.head()

  0  1  2  3  4  5  6  7  8  9   ... 13 14 15 16 17 18 19 20 21 22
0  p  x  s  n  t  p  f  c  n  k  ...  s  w  w  p  w  o  p  k  s  u
1  e  x  s  y  t  a  f  c  b  k  ...  s  w  w  p  w  o  p  n  n  g
2  e  b  s  w  t  l  f  c  b  n  ...  s  w  w  p  w  o  p  n  n  m
3  p  x  y  w  t  p  f  c  n  n  ...  s  w  w  p  w  o  p  k  s  u
4  e  x  s  g  f  n  f  w  b  k  ...  s  w  w  p  w  o  e  n  a  g

[5 rows x 23 columns]

In [17]:
# 문자를 숫자로 변경
ord('x')
chr(120)

'x'

In [23]:
# 데이터 내부의 기호를 숫자로 변환하기
label = []
data = []

for row_index, row in mr.iterrows():
    label.append(row.loc[0])
    row_data = []
    for v in row.loc[1:]:
        row_data.append(ord(v))
    data.append(row_data)

print(data[0:20])

[[120, 115, 110, 116, 112, 102, 99, 110, 107, 101, 101, 115, 115, 119, 119, 112, 119, 111, 112, 107, 115, 117], [120, 115, 121, 116, 97, 102, 99, 98, 107, 101, 99, 115, 115, 119, 119, 112, 119, 111, 112, 110, 110, 103], [98, 115, 119, 116, 108, 102, 99, 98, 110, 101, 99, 115, 115, 119, 119, 112, 119, 111, 112, 110, 110, 109], [120, 121, 119, 116, 112, 102, 99, 110, 110, 101, 101, 115, 115, 119, 119, 112, 119, 111, 112, 107, 115, 117], [120, 115, 103, 102, 110, 102, 119, 98, 107, 116, 101, 115, 115, 119, 119, 112, 119, 111, 101, 110, 97, 103], [120, 121, 121, 116, 97, 102, 99, 98, 110, 101, 99, 115, 115, 119, 119, 112, 119, 111, 112, 107, 110, 103], [98, 115, 119, 116, 97, 102, 99, 98, 103, 101, 99, 115, 115, 119, 119, 112, 119, 111, 112, 107, 110, 109], [98, 121, 119, 116, 108, 102, 99, 98, 110, 101, 99, 115, 115, 119, 119, 112, 119, 111, 112, 110, 115, 109], [120, 121, 119, 116, 112, 102, 99, 110, 112, 101, 101, 115, 115, 119, 119, 112, 119, 111, 112, 107, 118, 103], [98, 115, 121, 116, 97, 102, 99, 98, 103, 101, 99, 115, 115, 119, 119, 112, 119, 111, 112, 107, 115, 109], [120, 121, 121, 116, 108, 102, 99, 98, 103, 101, 99, 115, 115, 119, 119, 112, 119, 111, 112, 110, 110, 103], [120, 121, 121, 116, 97, 102, 99, 98, 110, 101, 99, 115, 115, 119, 119, 112, 119, 111, 112, 107, 115, 109], [98, 115, 121, 116, 97, 102, 99, 98, 119, 101, 99, 115, 115, 119, 119, 112, 119, 111, 112, 110, 115, 103], [120, 121, 119, 116, 112, 102, 99, 110, 107, 101, 101, 115, 115, 119, 119, 112, 119, 111, 112, 110, 118, 117], [120, 102, 110, 102, 110, 102, 119, 98, 110, 116, 101, 115, 102, 119, 119, 112, 119, 111, 101, 107, 97, 103], [115, 102, 103, 102, 110, 102, 99, 110, 107, 101, 101, 115, 115, 119, 119, 112, 119, 111, 112, 110, 121, 117], [102, 102, 119, 102, 110, 102, 119, 98, 107, 116, 101, 115, 115, 119, 119, 112, 119, 111, 101, 110, 97, 103], [120, 115, 110, 116, 112, 102, 99, 110, 110, 101, 101, 115, 115, 119, 119, 112, 119, 111, 112, 107, 115, 103], [120, 121, 119, 116, 112, 102, 99, 110, 110, 101, 101, 115, 115, 119, 119, 112, 119, 111, 112, 110, 115, 117], [120, 115, 110, 116, 112, 102, 99, 110, 107, 101, 101, 115, 115, 119, 119, 112, 119, 111, 112, 110, 115, 117]]

In [24]:
# lable을 DataFrame으로 만들기
labelTemp = pd.DataFrame(label)
labelTemp.head()

   0
0  p
1  e
2  e
3  p
4  e

In [26]:
dataTemp = pd.DataFrame(data)
dataTemp.rename(columns=lambda x: x+1, inplace=True)
dataTemp.head()

,1,2,3,4,5,6,7,8,9,10,...,13,14,15,16,17,18,19,20,21,22
0,120,115,110,116,112,102,99,110,107,101,...,115,119,119,112,119,111,112,107,115,117
1,120,115,121,116,97,102,99,98,107,101,...,115,119,119,112,119,111,112,110,110,103
2,98,115,119,116,108,102,99,98,110,101,...,115,119,119,112,119,111,112,110,110,109
3,120,121,119,116,112,102,99,110,110,101,...,115,119,119,112,119,111,112,107,115,117
4,120,115,103,102,110,102,119,98,107,116,...,115,119,119,112,119,111,101,110,97,103

In [27]:
# 2개의 DataFrame 합치기
mr2 = pd.concat([labelTemp, dataTemp], axis='columns')
mr2.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,p,120,115,110,116,112,102,99,110,107,...,115,119,119,112,119,111,112,107,115,117
1,e,120,115,121,116,97,102,99,98,107,...,115,119,119,112,119,111,112,110,110,103
2,e,98,115,119,116,108,102,99,98,110,...,115,119,119,112,119,111,112,110,110,109
3,p,120,121,119,116,112,102,99,110,110,...,115,119,119,112,119,111,112,107,115,117
4,e,120,115,103,102,110,102,119,98,107,...,115,119,119,112,119,111,101,110,97,103

In [33]:
train_data, test_data, train_label, test_label = train_test_split(mr2.loc[:,1:], mr2.loc[:,0], stratify= mr2.loc[:,0])
clf = RandomForestClassifier()
clf.fit(train_data, train_label)
clf.score(test_data, test_label)

1.0

---
# One-Hot Encoding

In [34]:
mr2[1].unique()

array([120,  98, 115, 102, 107,  99])

In [35]:
pd.get_dummies(data=dataTemp, columns=[1], prefix='1')

,2,3,4,5,6,7,8,9,10,11,...,19,20,21,22,1_98,1_99,1_102,1_107,1_115,1_120
0,115,110,116,112,102,99,110,107,101,101,...,112,107,115,117,0,0,0,0,0,1
1,115,121,116,97,102,99,98,107,101,99,...,112,110,110,103,0,0,0,0,0,1
2,115,119,116,108,102,99,98,110,101,99,...,112,110,110,109,1,0,0,0,0,0
3,121,119,116,112,102,99,110,110,101,101,...,112,107,115,117,0,0,0,0,0,1
4,115,103,102,110,102,119,98,107,116,101,...,101,110,97,103,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,115,110,102,110,97,99,98,121,101,63,...,112,98,99,108,0,0,0,1,0,0
8120,115,110,102,110,97,99,98,121,101,63,...,112,98,118,108,0,0,0,0,0,1
8121,115,110,102,110,97,99,98,110,101,63,...,112,98,99,108,0,0,1,0,0,0
8122,121,110,102,121,102,99,110,98,116,63,...,101,119,118,108,0,0,0,1,0,0
8123,115,110,102,110,97,99,98,121,101,63,...,112,111,99,108,0,0,0,0,0,1

In [36]:
# 적용
for i in range(1, len(mr2.columns)):
    dataTemp = pd.get_dummies(data=dataTemp, columns=[i], prefix=str(i))
dataTemp.head()

,1_98,1_99,1_102,1_107,1_115,1_120,2_102,2_103,2_115,2_121,...,21_115,21_118,21_121,22_100,22_103,22_108,22_109,22_112,22_117,22_119
0,0,0,0,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,1,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0

In [37]:
mr3 = pd.concat([labelTemp, dataTemp], axis=1)
mr3.head()

,0,1_98,1_99,1_102,1_107,1_115,1_120,2_102,2_103,2_115,...,21_115,21_118,21_121,22_100,22_103,22_108,22_109,22_112,22_117,22_119
0,p,0,0,0,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,1,0
1,e,0,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,0
2,e,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,p,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
4,e,0,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,0

In [39]:
train_data, test_data, train_label, test_label = train_test_split(mr3.iloc[:,1:], mr3.iloc[:,0], stratify= mr3.iloc[:,0])
clf = RandomForestClassifier()
clf.fit(train_data, train_label)
clf.score(test_data, test_label)

1.0